<html><body>
  <mat-toolbar color="primary" class="page_header">
    <a *ngIf="ws.readyState==1" mat-fab><mat-icon class="pagelogo" svgIcon="favicon"></mat-icon></a>
    <span class="flexExpand"></span>

    <span *ngIf="logged_in && !current_gameid">
      <a href="/chat" mat-button>Chat</a>
      <a href="/settings" mat-button>Settings</a>
      <button (click)="userService.logout()" mat-button>Logout</button>
    </span>
  </mat-toolbar>

  <div class="page_content">
    <router-outlet></router-outlet>
  </div>
</body></html>
