#chat_parent {
  border: 1px solid black;
  height: 65vh;
  min-width: 30vw;
  max-width: 100%;
  overflow: scroll;
  display: flex;
}

#chat_input {
  display: flex;
}

#chat_input_parent {
  margin-top: 10px;
  max-width: 100%;
}

.message_sender_name {
  font-weight: bold;
}

.system_message {
  font-weight: bold;
  color: red;
}

.secret_message {
  background-color: pink;
}

.message_content {
}
