#chat_parent {
  border: 1px solid black;
  height: 75vh;
  width: 100%;
  overflow: scroll;
}

#chat_input {
  width: 90vw;
}

#chat_input_parent {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_sender_name {
  font-weight: bold;
}

.system_message {
  font-weight: bold;
  color: red;
}

.secret_message {
  background-color: pink;
}

.message_content {
}
