<div #chat_parent class="chat_parent" [ngClass]="{'embeded_chat': private_context}">
  <div #chat class="chat">
    <div *ngFor="let message of chatLog; index as i" [ngClass]="message.secret_message?'secret_message':'message'">
      <span class="message_sender_name" *ngIf="message.sender!=null">
        {{message.sender.username}}<span *ngIf="message.secret_message"> -> {{message.target.username}}</span>:
      </span>
      <span class="system_message" *ngIf="message.system_message">
        SYSTEM:
      </span>
      <span class="message_content">
        {{message.content}}
      </span>
    </div>
  </div>
</div>

<div class="chat_input_parent">
  <form #messageForm="ngForm" (ngSubmit)="sendChatMessage()">
    <mat-form-field class="chat_input">
      <input matInput name="chat_message" [(ngModel)]="chatMessageContent" required>
      <button matSuffix mat-raised-button color="primary" [disabled]="chatMessageContent.length==0">Send</button>
    </mat-form-field>
  </form>
</div>
