<h2>Privacy Settings</h2>
<mat-checkbox [(ngModel)]="visibleAsOnline" (click)="onChangeFlags()">Allow other users to see you when you're online</mat-checkbox>

<h2>Favourite Colour</h2>
<div class="box" [ngStyle]="{'background-color': getFavouriteColourString()}"></div>
<div class="colour_input">
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourRed" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourGreen" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourBlue" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
  <button matSuffix mat-raised-button color="primary" (click)="saveColour()">Save</button>
</div>

<h2>Prefered Set</h2>
<span class="set_icon" (click)="setFavoriteSet(1)" #doodlePawn></span>
<span class="set_icon" (click)="setFavoriteSet(2)" #goblinPawn></span>
<span class="set_icon" (click)="setFavoriteSet(4)" #teatimePawn></span>

