<h2>Privacy Settings</h2>
<mat-checkbox [(ngModel)]="visibleAsOnline" (click)="onChangeFlags()">Allow other users to see you when you're online</mat-checkbox>

<h2>Prefered Set</h2>
<mat-icon
  class="set_icon"
  *ngFor="let s of [1,2,4]; index as i"
  [svgIcon]="setFor(s)"
  [ngClass]="{'selected-set': prefered_set==s}"
  (click)="setFavoriteSet(s)" />

<h2>Favourite Colour</h2>
<div class="colour_input">
  <mat-form-field>
    <input [(ngModel)]="favouriteColourString" (input)="onChangeColourString()" matInput/>
    <button matSuffix mat-raised-button color="primary" (click)="saveColour()">Save</button>
  </mat-form-field>
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourRed" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourGreen" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
  <mat-slider min=0 max=255>
    <input [(ngModel)]="favouriteColourBlue" (input)="onChangeColour()" matSliderThumb>
  </mat-slider>
</div>

<span class="icon_table">
  <div class="icon_pair" *ngFor="let piece of ['king','queen','bishop','knight','rook','pawn']; index as i">
    <h3>{{piece}}</h3>
    <mat-icon
      class="set_icon"
      *ngFor="let suffix of ['','_back']; index as j"
      [svgIcon]="pieceFor(piece)+suffix" />
  </div>
</span>
