<div id="gamescreen">
  <span id="board" [ngClass]="{'upside_down': player_number==1, 'board_show_guide': show_guide}">
    <mat-icon
      class="square"
      *ngFor="let piece of gamestate.split(''); index as i"
      [svgIcon]="icon_map[piece]"
      [ngClass]="{'odd_square': (i%2==1) != (i%16>=8),
                  'selected_square': current_move.includes(ALGERBRAIC_NAMES.encoder[i]),
                  'lit_square': autocomplete.includes(i),
                  'player1': is_player1(piece),
                  'player2': !is_player1(piece),
                  'upside_down': player_number==1}"
      (click)="onClickSquare(i)" />
  </span>

  <span id="gamescreen_stuff">
    <div id="game_control_bar">
      <mat-icon
          class="player_icon player1"
          [svgIcon]="player1_set+'/pawn'"
          [ngClass]="{'my_turn': move_number%2==0}" />
      <mat-icon
          class="player_icon player2"
          [svgIcon]="player2_set+'/pawn'"
          [ngClass]="{'my_turn': move_number%2==1}" />
      <button class="game_control_left" matSuffix mat-raised-button color="primary" (click)="finishMove()" *ngIf="current_move.length>=4">Finish move</button>
      <mat-form-field class="game_control_left" style="margin-bottom: -1.25em" *ngIf="promotion_target">
        <mat-select
          [(value)]="promotion_target"
          (selectionChange)="ws.setPromotionTarget(promotion_target)">

          <mat-option *ngFor="let t of VALID_PROMOTION_TARGETS" [value]="t">
            <mat-icon
              [svgIcon]="pieceIconFor(t)"
              [ngClass]="{'player1':player_number==0, 'player2':player_number==1}"
            />
            {{pieceNameFor(t)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="game_control" matSuffix mat-raised-button color="primary" (click)="ws.surrender()" *ngIf="in_game">Surrender</button>
      <mat-checkbox class="game_control" [(ngModel)]="show_guide">Show Guide</mat-checkbox>
    </div>
    <app-chat [in_game_chat]="true"></app-chat>
  </span>
</div>
