#board {
  background-image: url('/assets/board-border.svg');
  background-size: contain;
  max-width: 100vw;
  max-height: 80vh;
  aspect-ratio: 1;
  font-size: 0px;
  float: left;
  margin-left: 16px;
  margin-right: 16px;
  box-sizing: border-box;
}

#gamescreen {
  width: 100vw;
  display: inline;
}

#gamescreen_stuff {
  padding: 16px;
}

#game_control_bar {
  display: block;
  overflow: auto;
}

.board_show_guide {
  padding: 32px;
}

.chess_row {
  display: block;
  margin: 0px;
}

.game_control {
  float: right;
  margin-left: 32px;
}

.game_control_left {
  margin-left: 32px;
  vertical-align: top;
}

.square {
  width:12.5%;
  height:12.5%;
  min-width:12.5%;
  min-height:12.5%;
  aspect-ratio: 1;
  font-size: 0px;
  background-color: #CCCCCC;
  box-sizing: border-box;
}

.odd_square {
  background-color: #4900BA;
}

.lit_square {
  background-color: #5D5D5D;
}

.lit_square.odd_square {
  background-color: #30007A;
}

.selected_square {
  background-color: #BA4900;
}

.my_turn {
  border: solid;
}

.player_icon {
  width: 48px;
  height: 48px;
  padding: 8px;
}

.threat {
  border: 2px solid red;
}

.upside_down {
  transform: rotate(180deg);
}
