<div id="gamescreen">
  <span id="board" [ngClass]="{'upside_down': player_number==1, 'board_show_guide': show_guide}">
    <mat-icon
      class="square"
      *ngFor="let piece of gamestate.split(''); index as i"
      [svgIcon]="icon_map[piece]"
      [ngClass]="{'odd_square': (i%2==1) != (i%16>=8),
                  'selected_square': i==selected_origin,
                  'lit_square': valid_moves.includes(i),
                  'player1': is_player1(piece),
                  'player2': !is_player1(piece),
                  'upside_down': player_number==1}"
      (click)="onClickSquare(i, piece)" />
  </span>

  <span id="gamescreen_stuff">
    <div>
      <mat-icon
          class="player_icon player1"
          [svgIcon]="player1_set+'/pawn'"
          [ngClass]="{'my_turn': move_number%2==0}" />
      <mat-icon
          class="player_icon player2"
          [svgIcon]="player2_set+'/pawn'"
          [ngClass]="{'my_turn': move_number%2==1}" />
      <button class="game_control" matSuffix mat-raised-button color="primary" (click)="ws.surrender()" *ngIf="in_game">Surrender</button>
      <mat-checkbox class="game_control" [(ngModel)]="show_guide">Show Guide</mat-checkbox>
      <app-chat [private_context]="true"></app-chat>
    </div>
  </span>
</div>
