#board {
  max-width: 100vw;
  max-height: 84vh;
  aspect-ratio: 1;
  display: inline-block;
  font-size: 0px;
}

.chess_row {
  display: block;
  margin: 0px;
}

.square {
  width:12.5%;
  height:12.5%;
  font-size: 0px;
  background-color: #CCCCCC;
}

.odd_square {
  background-color: #4900BA;
}

.lit_square {
  background-color: #5D5D5D;
}

.lit_square.odd_square {
  background-color: #30007A;
}

.selected_square {
  background-color: #BA4900;
}

.my_turn {
  border: solid;
}

.player_icon {
  width: 48px;
  height: 48px;
  padding: 8px;
  float: right;
}

#surrender_button {
  float: right;
  margin-left: 32px;
}
