<div *ngFor="let user of online_users | keyvalue" class="user_badge">
  <mat-icon
    class="icon"
    [ngClass]="classNameForColour(user.value.favourite_colour)"
    [svgIcon]="iconFor(user.value.prefered_set)" />
  <div class="details">
    <div class="username">{{user.value.username}}</div>
    <div *ngIf="user.value.current_gameid; then in_game; else no_game"></div>
  </div>

  <ng-template #in_game>
    <div>In game: {{user.value.current_gametype}}</div>
    <div class="control">
      <a mat-raised-button color="primary"
      [href]="'/spectate/'+user.value.current_gameid">
        Spectate
      </a>
    </div>
  </ng-template>

  <ng-template #no_game>
    <div>Idle</div>
    <div class="control">
      <button mat-raised-button color="primary" (click)="challenge(user.value.username)">Challenge</button>
    </div>
  </ng-template>
</div>

<app-chat/>
