app-chat {
}

.user_badge {
  display: inline-flex;
  border: 1px solid black;
}

.user_badge .icon {
  width: 128px;
  height: 128px;
  float: left;
}

.user_badge .details {
  font-size: large;
  margin: 16px;
}

.user_badge .username {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 5px;
}

.user_badge .control {
  margin: 5px;
}
